@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


body{
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

#Container{
    background-color: #292929;
    color: #FFF;
    max-width: 600px;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    border-radius: 25px 25px 0px 0px;
}

/*
@ START HEADER SECTION
**/

#Header{
    float: left;
    width: 100%;
    height: 80px;
    background-color: #4b4b4b;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.55);
    z-index: 99;
    position: relative;
    border-radius: 25px 25px 0px 0px;
}

#Header #HeaderUserImage { 
    float: left;  
    width: 25%; 
}

#Header #HeaderNickname{ 
    float: left;  
    width: 50%;
}

#Header #HeaderMenuButton{ 
    float: right;  
    width: 25%; 
}

#Header .UserImage{
	float: left;
    height: 55px;
    margin-left: 15px;
    margin-top: 10px;
  	background-color: #292929;
  	border-radius: 50%;
}

#Header .TextNickName{
    margin-top: 27.5px;
	font-size: 1.1em;
	font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

#Header .ButtonMenuAccess
{
	float: right;
	height: 55px;
    margin-right: 15px;
    margin-top: 10px;
    background-color: #4b4b4b;
    border: 0;
}

#Header .ButtonMenuAccess:after{
  	content: '\2807';
  	font-size: 2.5em;
  	color: #ffffff;
}

/*
@ END HEADER SECTION
**/

/*
@ START MESSAGE SECTION
**/

#MessageBody{
    float: left;
    overflow: scroll;
    width: 100%;
    max-height: calc(100vh - 100px);
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 80px;
    z-index: 90;
    text-rendering: optimizeLegibility;
}

#MessageBody::-webkit-scrollbar{
    display: none;
}

#MessageBody .Message{
    max-width: 100%;
    width: 100%;
    float: right;
    height: auto;
    margin-top: 0;
    margin-bottom: 10px;
}

#MessageBody .AuthorAndTime{
    width: 90%;
    line-height: 20px;
    height: 20px;
}

.Message.Sented .AuthorAndTime{
    float: right;
}

.Message.Received .AuthorAndTime{
    float: left;
}

#MessageBody .Message .Author{
    font-weight: bold;
    letter-spacing: 1px;
    text-align: right;
    height: 20px;
    line-height: 20px;
}

.Message.Sented .Author{
    float: right;
}

.Message.Received .Author{
    float: left;
}

#MessageBody .Message .TimeStamp{
    font-size: 0.9em;
    color: #dadada;
    height: 20px;
    line-height: 20px;
}

.Message.Sented .TimeStamp{
    float: right;
    margin-right: 5px;
}

.Message.Received .TimeStamp{
    float: left;
    margin-left: 5px;
}

#MessageBody .Message .Content{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    line-height: 24px;
    margin-top: 5px;
    max-width: 90%;
}

.Message.Sented .Content{
    float: right;
    border-radius: 10px 0px 10px 10px;
    background-color: #4b4b4b;
}

.Message.Received .Content{
    float: left;
    border-radius: 0px 10px 10px 10px;
    background-color: #6d6d6d;
}

/*
@ END MESSAGE SECTION
**/






/*
@ START FOOTER SECTION
**/

#Footer{
    float: left;
    width: 100%;
    height: 100px;
    background-color: green;
    position: absolute;
    bottom: 0;
}

/*
@ END FOOTER SECTION
**/